<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PASSWORD RESET</title>
</head>
<body>
  <form action="/user/reset" method="POST">
    <input name="password" placeholder="New password"/>
    <input name="confirmPassword" placeholder="Confirm new password" />
    <input name="token" value="{{token}}" hidden/>
    <input type="submit" value="RESET"/>
  </form>
</body>
</html>